@import "../variables";
.footer {
    background-color: $bg-footer;

    &__content {
        display: flex;
        flex-direction: column;
        hr {
            width: 100%;
            border-color: rgba(255, 255, 255, 0.2);
            margin: 0;
        }
    }

    &__block-1 {
        padding-bottom: 64px;
    }

    &__block-1::before {
        content: '';
        position: absolute;
        width: 530px;
        height: 281px;
        right: 112px;
        background: url("../../assets/img/Pattern-footer-1.svg") no-repeat;
        z-index: 1;
    }

    &__title {
        margin-top: 64px;
        color: $white;
        max-width: 480px;
    }

    &__text {
        margin-top: 16px;
        font-size: 18px;
        line-height: 28px;
        color: $text-disabled;
        max-width: 480px;
        margin-bottom: 32px;
    }

    &__block-2 {
        padding-top: 48px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-left {
            display: flex;
            flex-direction: column;
            max-width: 30%;
        }

        &-logo {
            height: 50px;
            width: 50px;
        }

        &-right {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 40px;
            padding-top: 50px;
        }

        &-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 12px;
            &-text {
                color: $text-disabled;
            }
        }

        &-icon{
            width: 24px;
            height: 24px;
            margin-right: 12px;
        }

        &-text {
            color: $text-disabled;
            margin-top: 16px;
            margin-bottom: 12px;
        }
    }
    
    &__block-2::before {
        content: '';
        position: absolute;
        width: 134px;
        height: 194px;
        left: 0;
        margin-top: 80px;
        background: url("../../assets/img/Pattern-footer-2.svg") no-repeat;
        z-index: 1;
    }

    &__link {
        &-list {
            display: flex;
            flex-direction: column;
        }
        &-header {
            font-weight: 700;
            font-size: 16px;
            color: $white;
            line-height: 20px;
        }
        &-item {
            margin-top: 12px;
            color: $text-disabled;
        }
    }

    &__block-3 {
        padding-top: 20px;
        height: 50px;
        display: flex;
        flex-direction: row;
    }

    &__copyright {
        font-size: 14px;
        line-height: 20px;
        color: $text-disabled;
        flex-grow: 1;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    &__icon {
        height: 24px;
        width: 24px;
    }

    &__icon:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}