@import '../variables';
@import '../mixins';
.hero {
    display: flex;

    &__content {
        display: flex;
        flex-direction: row;
        padding-top: 64px;

        &--left {
            max-width: 50%;
        }

        &--right {
            margin-left: 40px;
        }

        &--right::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: url("../../assets/img/Pattern-1.svg") no-repeat;
            z-index: 1;
        }
    }

    &__illustration {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &__title {
        font-size: 52px;
        line-height: 58px;
        margin-bottom: 16px;
        font-weight: 700;
    }

    &__text {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 32px;
        color: $text-gray
    }

    &__input {
        display: flex;
        align-items: center;
        height: 66px;
        border: 1px solid $text-disabled;
        border-radius: 6px;

        &--borderless {
            border: 0;
        }
    }

    &__button--primary {
        @include btn(transparent, $primary, 6px, $white, 16px, 15px, 30px);
        font-weight: 700;
        line-height: 20px;
    }
}