@import '../variables.scss';
.process {
    display: flex;
    margin-top: 96px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 16px;
        text-align: center;
        width: 45%;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 48px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 16px;
        border-radius: 6px;
        width: calc(50% - 15px);

        &--title {
            font-weight: 700;
            font-size: 22px;
            line-height: 32px;
            margin-top: 24px;
            text-align: center;
            color: $bg-footer;
        }

        &--text {
            line-height: 150%;
            text-align: center;
            margin-top: 16px;
        }

        &--illustration {
            width: 100%;
            height: 100%;
        }

        &--line {
            min-width: 150px;

            img {
                width: 100%;
                margin-top: calc(50% + 24px);
            }

            &--mobile {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $screen-md) {
    
    .process {
        &__cards{
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }

        &__title {
            width: 100%;
        }

        &__cards {
            flex-direction: column;
            align-items: center;
        }

        &__card {
            width: 100%;
            margin-top: 24px;
            padding: 0;

            &--title {
                font-size: 18px;
                line-height: 24px;
                margin-top: 0;
            }

            &--text {
                font-size: 16px;
                line-height: 26px;
                margin-top: 12px;
            }

            &--illustration {
                width: 70%;
            }

            &--line {
                display: none;
                &--mobile {
                    display: block;
                    margin-top: 32px;
                }
            }
        }
    }
}